    /* Take from in-line css in wordpress page */
  
    .option-event-overlay {
      z-index: 1;
      width: 100%;
      height: 170px;
      position: absolute;
      cursor: pointer;
    }

    .option-event-overlay:hover {
      border-left: 5px solid #4c8fb1;
    }

    .video-banner {
      margin-bottom: 20px;
    }