/* Should always be included after navigation.css */

.navbar-header { 
	background: rgba(255,255,255,0);
	transition: background-color 2s ease 0s;
}
.navbar-header.opaque { 
	background: rgba(0,0,0,1);
	transition: background-color 2s ease 0s;
}

.navbar .collapse.in { 
  background-color: #333333; 
}

/* If there's a featured image, we don't need any padding to account for the navbar */
body {
    padding-top: 0;
}

