/* Navigation */
.navbar { 
	background: #333333;
}

header a.logo img{
	height: 40px;
	width: 242px;
}

.navbar-nav {
  text-align: right;
  padding-right: 0px;
}

.dropdown-menu li {
  text-align: right;
}
.navbar .navbar-nav>li>a
{
  color: white;
  border-color: #333333;
  text-transform: uppercase;
  font-size: 0.85em;
}

.navbar .navbar-nav>li>a:hover
{
  color: #498fb3
}

/* Donate Button */
.navbar-nav > li:last-child a {
   background-color: #498fb3;
   color: white;
}

.navbar-nav li:last-child a:hover {
   background-color: white;
   color: #498fb3;
}

.navbar .collapse.in { 
  width:200px;
  background-color: #333333;
  float:right;
}

.navbar-nav .open .dropdown-menu>li>a
{
  color: white;
  border-color: #333333;
  padding-right: 3em;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
    background-color: rgba(255,255,255,0);
    background-image: none;
}

.navbar-nav .dropdown-menu {
  background-color:#252525;
  color:white;
}

.active
{
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;   
}

.icon-bar{
  background-color:white;  
}

@media (min-width: 768px)
{
    .navbar-right
    {
        padding-right: 15px;
    }
}

